html body header section nav div { margin: 0px; padding: 0px;}
#wrapper{
	width: 600px;
	border: 1px solid green;
	
	}
#driver{
    border: 1px solid yellow;
    width: 100px;
    position: relative;
    float: left;
    height: 100px;
    }
#cv_viewer{
    border: 1px solid red;
    width: 450px;
    position: relative;
	float: left;
    
    }
	
#contact_details{
	border: 1px solid black;
	width: 100px;
	height: 100px;
	background-color: grey;
	}
#cv_frame{
	margin: 0;
	padding: 0;
	border: 0px;
	width: 445px;
	}